__pycache__/
node_modules/
repository/
mirror/
pkgs/
src/
tmp/
deploy_key
deploy_key.pub
package-lock.json
repository.yml
sample.yml
**/.*
**/README.md
*/pkg
*.asc
*.bz2
*.deb
*.gem
*.gz
*.jar
*.log
*.rpm
*.sig
*.tar
*.tar.*
*.tgz
*.xz
*.zip
!log/*.log
